[data-page="_global_menu"][data-itemid="welcome_item"] .r-w-icon {
  background-color: #5f9ea040;
  color: light-dark(#2a6d6f, #75bbbd);
}
[data-page="_global_menu"][data-itemid="welcome_item"] .r-w-item:hover .r-w-icon {
  background-color: #5f9ea0;
  color: white;
}
[data-page="_global_menu"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


